<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.tmall.pojo.Comment">
    <id column="comment_id" jdbcType="INTEGER" property="comment_id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="shop_id" jdbcType="INTEGER" property="shop_id" />
    <result column="goods_id" jdbcType="INTEGER" property="goods_id" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    comment_id, user_id, user_name, shop_id, goods_id, grade, content, time
  </sql>
  <select id="selectByExample" parameterType="com.tmall.pojo.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where comment_id = #{comment_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where comment_id = #{comment_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmall.pojo.Comment">
    insert into comment (comment_id, user_id, user_name, 
      shop_id, goods_id, grade, 
      content, time)
    values (#{comment_id,jdbcType=INTEGER}, #{user_id,jdbcType=INTEGER}, #{user_name,jdbcType=VARCHAR}, 
      #{shop_id,jdbcType=INTEGER}, #{goods_id,jdbcType=INTEGER}, #{grade,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.pojo.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="comment_id != null">
        comment_id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="user_name != null">
        user_name,
      </if>
      <if test="shop_id != null">
        shop_id,
      </if>
      <if test="goods_id != null">
        goods_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="comment_id != null">
        #{comment_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="user_name != null">
        #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="shop_id != null">
        #{shop_id,jdbcType=INTEGER},
      </if>
      <if test="goods_id != null">
        #{goods_id,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.pojo.Comment">
    update comment
    <set>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="user_name != null">
        user_name = #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="shop_id != null">
        shop_id = #{shop_id,jdbcType=INTEGER},
      </if>
      <if test="goods_id != null">
        goods_id = #{goods_id,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where comment_id = #{comment_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.pojo.Comment">
    update comment
    set user_id = #{user_id,jdbcType=INTEGER},
      user_name = #{user_name,jdbcType=VARCHAR},
      shop_id = #{shop_id,jdbcType=INTEGER},
      goods_id = #{goods_id,jdbcType=INTEGER},
      grade = #{grade,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where comment_id = #{comment_id,jdbcType=INTEGER}
  </update>
</mapper>