<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.SeckillMapper">
  <resultMap id="BaseResultMap" type="com.tmall.pojo.Seckill">
    <id column="seckill_id" jdbcType="INTEGER" property="seckill_id" />
    <result column="goods_id" jdbcType="INTEGER" property="goods_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="caption" jdbcType="VARCHAR" property="caption" />
    <result column="price_before" jdbcType="DOUBLE" property="price_before" />
    <result column="price_after" jdbcType="DOUBLE" property="price_after" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="start_time" jdbcType="TIMESTAMP" property="start_time" />
    <result column="end_time" jdbcType="TIMESTAMP" property="end_time" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="reserve" jdbcType="INTEGER" property="reserve" />
    <result column="shop_id" jdbcType="INTEGER" property="shop_id" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    seckill_id, goods_id, name, image, caption, price_before, price_after, introduction, 
    start_time, end_time, amount, reserve, shop_id, status
  </sql>
  <select id="selectByExample" parameterType="com.tmall.pojo.SeckillExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from seckill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seckill
    where seckill_id = #{seckill_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seckill
    where seckill_id = #{seckill_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmall.pojo.Seckill">
    insert into seckill (seckill_id, goods_id, name, 
      image, caption, price_before, 
      price_after, introduction, start_time, 
      end_time, amount, reserve, 
      shop_id, status)
    values (#{seckill_id,jdbcType=INTEGER}, #{goods_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{caption,jdbcType=VARCHAR}, #{price_before,jdbcType=DOUBLE}, 
      #{price_after,jdbcType=DOUBLE}, #{introduction,jdbcType=VARCHAR}, #{start_time,jdbcType=TIMESTAMP}, 
      #{end_time,jdbcType=TIMESTAMP}, #{amount,jdbcType=INTEGER}, #{reserve,jdbcType=INTEGER}, 
      #{shop_id,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.pojo.Seckill">
    insert into seckill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seckill_id != null">
        seckill_id,
      </if>
      <if test="goods_id != null">
        goods_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="caption != null">
        caption,
      </if>
      <if test="price_before != null">
        price_before,
      </if>
      <if test="price_after != null">
        price_after,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="start_time != null">
        start_time,
      </if>
      <if test="end_time != null">
        end_time,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="reserve != null">
        reserve,
      </if>
      <if test="shop_id != null">
        shop_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seckill_id != null">
        #{seckill_id,jdbcType=INTEGER},
      </if>
      <if test="goods_id != null">
        #{goods_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="caption != null">
        #{caption,jdbcType=VARCHAR},
      </if>
      <if test="price_before != null">
        #{price_before,jdbcType=DOUBLE},
      </if>
      <if test="price_after != null">
        #{price_after,jdbcType=DOUBLE},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="start_time != null">
        #{start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="reserve != null">
        #{reserve,jdbcType=INTEGER},
      </if>
      <if test="shop_id != null">
        #{shop_id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.pojo.Seckill">
    update seckill
    <set>
      <if test="goods_id != null">
        goods_id = #{goods_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="caption != null">
        caption = #{caption,jdbcType=VARCHAR},
      </if>
      <if test="price_before != null">
        price_before = #{price_before,jdbcType=DOUBLE},
      </if>
      <if test="price_after != null">
        price_after = #{price_after,jdbcType=DOUBLE},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="start_time != null">
        start_time = #{start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        end_time = #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="reserve != null">
        reserve = #{reserve,jdbcType=INTEGER},
      </if>
      <if test="shop_id != null">
        shop_id = #{shop_id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where seckill_id = #{seckill_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.pojo.Seckill">
    update seckill
    set goods_id = #{goods_id,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      caption = #{caption,jdbcType=VARCHAR},
      price_before = #{price_before,jdbcType=DOUBLE},
      price_after = #{price_after,jdbcType=DOUBLE},
      introduction = #{introduction,jdbcType=VARCHAR},
      start_time = #{start_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      amount = #{amount,jdbcType=INTEGER},
      reserve = #{reserve,jdbcType=INTEGER},
      shop_id = #{shop_id,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where seckill_id = #{seckill_id,jdbcType=INTEGER}
  </update>
</mapper>