<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.SellerMapper">
  <resultMap id="BaseResultMap" type="com.tmall.pojo.Seller">
    <id column="seller_id" jdbcType="INTEGER" property="seller_id" />
    <result column="seller_name" jdbcType="VARCHAR" property="seller_name" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="income" jdbcType="DOUBLE" property="income" />
    <result column="shop_ids" jdbcType="VARCHAR" property="shop_ids" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    seller_id, seller_name, user_id, income, shop_ids
  </sql>
  <select id="selectByExample" parameterType="com.tmall.pojo.SellerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from seller
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seller
    where seller_id = #{seller_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seller
    where seller_id = #{seller_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmall.pojo.Seller">
    insert into seller (seller_id, seller_name, user_id, 
      income, shop_ids)
    values (#{seller_id,jdbcType=INTEGER}, #{seller_name,jdbcType=VARCHAR}, #{user_id,jdbcType=INTEGER}, 
      #{income,jdbcType=DOUBLE}, #{shop_ids,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.pojo.Seller">
    insert into seller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seller_id != null">
        seller_id,
      </if>
      <if test="seller_name != null">
        seller_name,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="shop_ids != null">
        shop_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seller_id != null">
        #{seller_id,jdbcType=INTEGER},
      </if>
      <if test="seller_name != null">
        #{seller_name,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="income != null">
        #{income,jdbcType=DOUBLE},
      </if>
      <if test="shop_ids != null">
        #{shop_ids,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.pojo.Seller">
    update seller
    <set>
      <if test="seller_name != null">
        seller_name = #{seller_name,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="income != null">
        income = #{income,jdbcType=DOUBLE},
      </if>
      <if test="shop_ids != null">
        shop_ids = #{shop_ids,jdbcType=VARCHAR},
      </if>
    </set>
    where seller_id = #{seller_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.pojo.Seller">
    update seller
    set seller_name = #{seller_name,jdbcType=VARCHAR},
      user_id = #{user_id,jdbcType=INTEGER},
      income = #{income,jdbcType=DOUBLE},
      shop_ids = #{shop_ids,jdbcType=VARCHAR}
    where seller_id = #{seller_id,jdbcType=INTEGER}
  </update>
</mapper>