<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.tmall.pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="user_pass" jdbcType="VARCHAR" property="user_pass" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="day" jdbcType="INTEGER" property="day" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="is_phone_check" jdbcType="INTEGER" property="is_phone_check" />
    <result column="is_email_check" jdbcType="INTEGER" property="is_email_check" />
    <result column="phone_code" jdbcType="VARCHAR" property="phone_code" />
    <result column="address_id" jdbcType="INTEGER" property="address_id" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, user_name, user_pass, name, phone, email, created, updated, year, day, month, 
    sex, status, integral, image, is_phone_check, is_email_check, phone_code, address_id
  </sql>
  <select id="selectByExample" parameterType="com.tmall.pojo.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{user_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmall.pojo.User">
    insert into user (user_id, user_name, user_pass, 
      name, phone, email, 
      created, updated, year, 
      day, month, sex, status, 
      integral, image, is_phone_check, 
      is_email_check, phone_code, address_id
      )
    values (#{user_id,jdbcType=INTEGER}, #{user_name,jdbcType=VARCHAR}, #{user_pass,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, #{year,jdbcType=INTEGER}, 
      #{day,jdbcType=INTEGER}, #{month,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{integral,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{is_phone_check,jdbcType=INTEGER}, 
      #{is_email_check,jdbcType=INTEGER}, #{phone_code,jdbcType=VARCHAR}, #{address_id,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        user_id,
      </if>
      <if test="user_name != null">
        user_name,
      </if>
      <if test="user_pass != null">
        user_pass,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="day != null">
        day,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="is_phone_check != null">
        is_phone_check,
      </if>
      <if test="is_email_check != null">
        is_email_check,
      </if>
      <if test="phone_code != null">
        phone_code,
      </if>
      <if test="address_id != null">
        address_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="user_name != null">
        #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="user_pass != null">
        #{user_pass,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="day != null">
        #{day,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="is_phone_check != null">
        #{is_phone_check,jdbcType=INTEGER},
      </if>
      <if test="is_email_check != null">
        #{is_email_check,jdbcType=INTEGER},
      </if>
      <if test="phone_code != null">
        #{phone_code,jdbcType=VARCHAR},
      </if>
      <if test="address_id != null">
        #{address_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.pojo.User">
    update user
    <set>
      <if test="user_name != null">
        user_name = #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="user_pass != null">
        user_pass = #{user_pass,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="day != null">
        day = #{day,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="is_phone_check != null">
        is_phone_check = #{is_phone_check,jdbcType=INTEGER},
      </if>
      <if test="is_email_check != null">
        is_email_check = #{is_email_check,jdbcType=INTEGER},
      </if>
      <if test="phone_code != null">
        phone_code = #{phone_code,jdbcType=VARCHAR},
      </if>
      <if test="address_id != null">
        address_id = #{address_id,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.pojo.User">
    update user
    set user_name = #{user_name,jdbcType=VARCHAR},
      user_pass = #{user_pass,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      year = #{year,jdbcType=INTEGER},
      day = #{day,jdbcType=INTEGER},
      month = #{month,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      integral = #{integral,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      is_phone_check = #{is_phone_check,jdbcType=INTEGER},
      is_email_check = #{is_email_check,jdbcType=INTEGER},
      phone_code = #{phone_code,jdbcType=VARCHAR},
      address_id = #{address_id,jdbcType=INTEGER}
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
</mapper>